/* ===================================
=section
=================================== */

.section {
  --section-padding: clamp(60px, 0.721rem + 9.615vi, 150px);

  padding-block: var(--section-padding);
}

.section-block + .section-block {
  margin-block-start: calc(var(--section-padding) / 2);
}
